extend layout.jade

block navbar
    include partials/navbar.jade

block content
    .card-columns
        each item in khData.result.records
            .card
                img.card-img-top(src='#{item.Picture1}', alt='Card image cap')
                .card-body
                    h5.card-title #{item.Name}
                    p.card-text
                        | #{item.Description}